.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10%;
}

.saudacoes {
    color: var(--colorPrimary);
    font-weight: 900;
    font-size: clamp(20px, 2vw, 32px);
    display: flex;
    text-align: center;
}

@media (max-width: 768px) {
    .saudacoes {
        font-size: clamp(18px, 4vw, 26px);
    }
}
